<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.qican.ifarm">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 收短信和读取短信的权限-->
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_OWNER_DATA" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.MEDIA_CONTENT_CONTROL" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.WRITE_OWNER_DATA" />

    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <!--允许程序访问CellID或WiFi热点来获取粗略的位置-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-permission android:name="android.permission.WRITE_OWNER_DATA" />

    <application
        android:name=".IFarmApp"
        android:allowBackup="true"
        android:icon="@mipmap/ifarm_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <!--环信APP_KEY-->
        <meta-data
            android:name="EASEMOB_APPKEY"
            android:value="1111161229115067#ifarm" />

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="ad2bab0dae5fa7f603079e8313af618c" />

        <activity
            android:name=".ui.WelcomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.intro.IntroActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".ui.ComMainActivity_"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.node.FarmActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.userinfo.MyInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.userinfo.HeadInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.userinfo.NickNameActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.userinfo.SignatureActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.near.NearInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.control.SelectFarmActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.login.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.chat.ChatActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.chat.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.myfriend.MyFriendActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.login.ResetPwdActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.farm.AddFarmActivity_"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.farm.AddLabelActivity_"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.farm.FarmListActivity_"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.farm.FarmInfoActivity_"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.farm.SensorListActivity_"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.farm.DownloadExcelActivity_"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.farm.VideoPlayActivity_"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".ui.farm.SubareaListActivity_"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.subarea.SubareaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.camera.CameraTestActivity_"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.near.NearListActivity_"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.subarea.SubareasOfFarmActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.find.ExpertsListActivity_"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.control.SystemListActivity_"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.control.ControlSysActivity_"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.subarea.SubareasWithVideoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.camera.SubareasWithVideoActivity_"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.camera.VideoListActivity_"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.camera.VideoOfShedActivity_"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.control.SelectSystemActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.control.ControlSystemActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.control.ManagerTaskActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.control.NewTaskActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.control.TaskPreviewActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!--android:windowSoftInputMode="stateHidden|adjustResize" />-->

        <service android:name="com.amap.api.location.APSService"></service>

        <!-- 环信SDK service SDK-->
        <service
            android:name="com.hyphenate.chat.EMChatService"
            android:exported="true" />
        <service
            android:name="com.hyphenate.chat.EMJobService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <!-- 环信SDK ???receiver -->
        <receiver android:name="com.hyphenate.chat.EMMonitorReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <data android:scheme="package" />
            </intent-filter>
            <!-- ??filter -->
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
        <!--萤石云登录页-->
        <activity
            android:name="com.videogo.main.EzvizWebViewActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" />
        <receiver
            android:name=".receiver.EzvizBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.videogo.action.OAUTH_SUCCESS_ACTION" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
